@model Blog.Models.Materia

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar Matéria</h1>

<h3>Você tem certeza que deseja deletar pemanentemente esta matéria?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>


        <dd class="col-sm-10">
            @Html.Raw(Html.DisplayTextFor(model => model.Texto))
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MateriaID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
