<p class="h3 text-center">Seu email foi enviado com Sucesso!! Obrigado pelo contato, logo logo eu te respondo! &#128516</p>


<a type="button" class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Materia" asp-action="Index">Voltar para Pagina Inicial</a>
